doctype 5
html(lang="en")
	head
		title MySite #{title}
		link(href="/stylesheets/foundation.min.css", rel="stylesheet", type="text/css")
		link(href="/stylesheets/app.css", rel="stylesheet", type="text/css")
body
	block mainContent